{% extends '_base.html' %}

{% block extra_head %}
<script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script
<script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-auth-client.js"></script>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block content %}
<h1>{{ PROJECT_NAME }}</h1>

<form id="login-form">
    <input type="text" name="username" placeholder="Username" />
    <input type="submit" class="btn" value="Login" />
</form>

<form id="post-form">
    <input type="text" name="text" />
    <input type="submit" class="btn" value="Post" />
</form>

<div id="user-info">
    You are logged in as: <strong><span class="username"></span></strong>. <a class="logout" href="javascript:;">Change username?</a>
</div>

<ul id="posts">
</ul>

{% endblock %}

{% block wide_content %}
{% endblock %}
